@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Roboto+Slab:wght@700&family=Space+Mono:wght@700&display=swap");
:root {
  --selected-color: #F87070;
  --selected-font: 'Kumbh Sans';
}

body,
html {
  padding: 0px;
  margin: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #1E213F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--selected-font);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .logo {
  margin-block: 50px;
}

.wrapper .break-selector {
  z-index: 10;
  background: #161932;
  width: 375px;
  height: 65px;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-inline: 7px;
  margin-bottom: 45px;
}

.wrapper .break-selector button {
  width: 32%;
  height: 80%;
  border-radius: 27px;
  border: 0px;
  outline: 0px;
  background: none;
  color: #D7E0FF;
  opacity: .4;
  font-weight: bold;
  font-size: 14px;
}

.wrapper .break-selector button:hover {
  background-color: var(--selected-color);
  color: #1E213F;
  cursor: pointer;
}

.wrapper .break-selector .selected {
  color: #1E213F;
  background: var(--selected-color);
  opacity: 1;
}

.wrapper .timer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 410px;
  height: 410px;
  border-radius: 50%;
  background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
  -webkit-box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
          box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
}

.wrapper .timer-section .timer-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 360px;
  background-color: #161932;
  border-radius: 50%;
}

.wrapper .timer-section .timer-container .timer {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  fill: #161932;
}

.wrapper .timer-section .timer-container .timer .progress {
  stroke-width: 7px;
  stroke: var(--selected-color);
  stroke-linecap: round;
  fill: #161932;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.wrapper .timer-section .timer-container .inner {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .timer-section .timer-container .inner h1 {
  position: absolute;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  font-size: 95px;
  color: white;
  height: 125px;
}

.wrapper .timer-section .timer-container .inner h2 {
  position: absolute;
  -webkit-transform: translateY(250%);
          transform: translateY(250%);
  font-size: 16px;
  letter-spacing: 15px;
  color: white;
  height: 20px;
}

.wrapper .timer-section .timer-container .inner h2:hover {
  cursor: pointer;
  text-shadow: 0px 0px 15px white;
}

.wrapper .settings {
  background: none;
  background-image: url(/assets/icon-settings.svg);
  background-size: contain;
  width: 28px;
  height: 28px;
  outline: none;
  border: none;
  margin-block: 60px;
}

.wrapper .settings:hover {
  cursor: pointer;
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
}

.settings-section {
  z-index: 100;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.settings-section .settings-form {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 540px;
  height: 465px;
  border-radius: 25px;
}

.settings-section .settings-form header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-inline: 40px;
  height: 80px;
}

.settings-section .settings-form header h1 {
  font-size: 28px;
}

.settings-section .settings-form header button {
  outline: none;
  border: none;
  background: none;
}

.settings-section .settings-form header button:hover {
  opacity: .6;
  cursor: pointer;
}

.settings-section .settings-form hr {
  width: 100%;
  border-inline: 0px;
  opacity: .2;
  margin: 0px;
}

.settings-section .settings-form footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-inline: 40px;
}

.settings-section .settings-form footer .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-block: 24px;
  height: 105px;
}

.settings-section .settings-form footer .time h2 {
  font-size: 13px;
  letter-spacing: 5px;
  margin: 0px;
  margin-bottom: 10px;
}

.settings-section .settings-form footer .time .time-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.settings-section .settings-form footer .time .time-options .option-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 22px;
}

.settings-section .settings-form footer .time .time-options .option-container:last-of-type {
  padding-right: 0px !important;
}

.settings-section .settings-form footer .time .time-options p {
  font-size: 12px;
  color: #1E213F;
  opacity: .4;
}

.settings-section .settings-form footer .time .time-options .input-field {
  background-color: #EFF1FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.settings-section .settings-form footer .time .time-options .input-field input {
  background: none;
  outline: none;
  border: none;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-inline: 10px;
  color: #1E213F;
  font-size: 14px;
  font-weight: bold;
}

.settings-section .settings-form footer .time .time-options .input-field input[type=number]::-webkit-inner-spin-button,
.settings-section .settings-form footer .time .time-options .input-field input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.settings-section .settings-form footer .time .time-options .input-field input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
  margin: 0;
}

.settings-section .settings-form footer .time .time-options .input-field .arrows button {
  border: none;
  outline: none;
  background: none;
}

.settings-section .settings-form footer .time .time-options .input-field .arrows button:hover {
  cursor: pointer;
  -webkit-filter: brightness(350%);
          filter: brightness(350%);
}

.settings-section .settings-form footer .font,
.settings-section .settings-form footer .color {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-block: 24px;
}

.settings-section .settings-form footer .font h2,
.settings-section .settings-form footer .color h2 {
  font-size: 13px;
  letter-spacing: 5px;
}

.settings-section .settings-form footer .font .options,
.settings-section .settings-form footer .color .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.settings-section .settings-form footer .font .options button,
.settings-section .settings-form footer .color .options button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  border: none;
  margin: 0px;
  margin-right: 16px;
}

.settings-section .settings-form footer .font .options button:last-of-type,
.settings-section .settings-form footer .color .options button:last-of-type {
  margin: 0px;
}

.settings-section .settings-form footer .font .options .font1,
.settings-section .settings-form footer .color .options .font1 {
  font-family: 'Kumbh Sans' !important;
}

.settings-section .settings-form footer .font .options .font2,
.settings-section .settings-form footer .color .options .font2 {
  font-family: 'Roboto Slab' !important;
}

.settings-section .settings-form footer .font .options .font3,
.settings-section .settings-form footer .color .options .font3 {
  font-family: 'Space Mono' !important;
}

.settings-section .settings-form footer .font .options .color1,
.settings-section .settings-form footer .color .options .color1 {
  background-color: #F87070;
  background-repeat: no-repeat;
  background-position: center 58%;
}

.settings-section .settings-form footer .font .options .color2,
.settings-section .settings-form footer .color .options .color2 {
  background-color: #70F3F8;
  background-repeat: no-repeat;
  background-position: center 58%;
}

.settings-section .settings-form footer .font .options .color3,
.settings-section .settings-form footer .color .options .color3 {
  background-color: #D881F8;
  background-repeat: no-repeat;
  background-position: center 58%;
}

.settings-section .settings-form footer .font .choosen-color,
.settings-section .settings-form footer .color .choosen-color {
  background-image: url(/assets/icon-check.png);
}

.settings-section .settings-form footer .font .choosen-font,
.settings-section .settings-form footer .color .choosen-font {
  background-color: black;
  color: white;
}

.settings-section .settings-form footer .apply {
  position: absolute;
  width: 140px;
  height: 55px;
  outline: none;
  border: none;
  border-radius: 27px;
  color: white;
  background-color: var(--selected-color);
  font-weight: bold;
  font-size: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: translateY(640%);
          transform: translateY(640%);
}

.bright-hover:hover {
  cursor: pointer;
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.dark-hover:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  cursor: pointer;
}

.closed {
  display: none !important;
}
/*# sourceMappingURL=main.css.map */